body{
  background-image: url("Stupa_Borobudur.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.justify{
  color: blue;
  border: 3px solid red;
  width: 700px;
  height: 500px;
  margin: 5px 20px 5px 500px;
  background-image: url("avocado.jpg");
}

.repeat{
  border: 3px solid red;
  width: 700px;
  height: 500px;
  margin: 5px 20px 10px 500px;
  background-image: url("avocado.jpg");
  background-repeat: repeat-x;
}
